body {
	color: #333;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	line-height: 1.6;
	margin: 40px auto;
	max-width: 670px;
	padding: 0 10px;
}

code {
	font-family: 'Source Code Pro', monospace;
	font-size: 16px;
}

h1,
h2,
h3 {
	line-height: 1.2;
}

img {
	max-width: 100%;
}
