name: Shell linting and testing

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'

jobs:

  shellcheck:
    runs-on: ubuntu-18.04
    steps:

      - name: Check out code
        uses: actions/checkout@v2.3.1

      - name: Run shellcheck
        uses: bewuethr/shellcheck-action@v2

  test:
    runs-on: ubuntu-18.04
    steps:

      - name: Check out code
        uses: actions/checkout@v2.3.1

      - name: Get Bats repository
        uses: actions/checkout@v2.3.1
        with:
          repository: bats-core/bats-core
          ref: v1.2.0
          path: bats-core

      - name: Install Bats and adjust PATH
        run: |
          cd bats-core
          ./install.sh "$HOME"
          echo "::add-path::$HOME/bin"
          echo "::add-path::$HOME/.local/bin"

      - name: Install Pandoc
        uses: r-lib/actions/setup-pandoc@v1
        with:
          pandoc-version: '2.10'

      - name: Install graphviz
        run: sudo apt-get install graphviz

      - name: Run tests
        run: bats --tap test
