name: Testing

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'

jobs:

  test:
    runs-on: ubuntu-20.04
    name: Run BATS tests
    steps:

      - name: Check out code
        uses: actions/checkout@v2.3.4

      - name: Get Bats repository
        uses: actions/checkout@v2.3.4
        with:
          repository: bats-core/bats-core
          ref: v1.2.1
          path: bats-core

      - name: Install Bats and adjust PATH
        run: |
          cd bats-core
          ./install.sh "$HOME"
          printf '%s\n' "$HOME/bin" "$HOME/.local/bin" >> "$GITHUB_PATH"

      - name: Install Pandoc
        uses: r-lib/actions/setup-pandoc@v1
        with:
          pandoc-version: '2.10'

      - name: Install graphviz
        run: sudo apt-get install graphviz

      - name: Run tests
        run: bats --tap test
